.navegador {
	min-height: 100%;
}

.navegador > ul {
	margin-bottom: 10px;
}

.navegador > ul > li {
	list-style: none;
}

.navegador > ul > li > a {
	padding: 12px;
	padding-left: 30px;
	display: block; 
	text-decoration: none;
	font-family: andalus;
	color: #fff;
}

.navegador > ul > li > a:hover {
	background: #323232;
}